
/*Styling for registration page*/


    body{
        background-image: linear-gradient(to right, #ff5722,#ff9800);
        margin-top: 0px !important;
    }


    .register-left{
        text-align: center;
        color: #fff;
        padding: 30px;
        margin-top: 150px !important;
        margin-bottom: 100px !important
    }
    .register-left p{
        padding: 20px 2-px 0;
    }

    .register-left img{
        margin-top: 60px;
        margin-bottom: 18px;
        width: 80px;
        border-top-right-radius: 40%;
        border-top-left-radius: 40%;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;
        animation: mover ls infinite alternate;
    }


    .register-left .btn-primary{
        border-radius:1.5rem;
        border: none;
        width: 120px;
        background: #f8f8f8;
        font-weight: 600;
        color: #555;
        margin-top: 20px;
        padding: 10px;

    }

    .register-left .btn-primary:hover{
        background: #000;

    }

    .register-right{
        border: none;
        background: #f8f8f8;
        border-top-right-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
        padding: 50px;
        margin-top: 150px !important;
        margin-bottom: 100px !important
    }

    .register-right h2{
        text-align: center;
        margin-bottom: 10px;
        color: #555;

    }

    .register-form{
        padding: 30px;
    }

    .register-right .btn-primary{
        float: right;
        border-radius:1.5rem;
        border: none;
        width: 120px;
        background-color: #ff9800;
        font-weight: 600;
        color: #fff;
        margin-top: 20px;
        padding: 10px;

    }

    .register-right .btn-primary:hover{
        background: #ff5722;

    }

    @keyframes mover{
        0%{transform: translateY(0);}
        100%{transform: translateY(-20px);}
        
    }

    a:hover{
        text-decoration: none;
    }


    /*Styling for navigation bar*/
    .header{
        background-color: blueviolet;
        padding: 10px;
        margin: 5px;
        }

    .footer
        {
            background-color: rgb(44, 41, 41);
        padding: 90px;
        width:100%;
        position: relative;
        left: 0;
        bottom: 0;
        }

    .footer i,h6{
    margin: 2px;
    color: white;
    }

    .loginbtn
    {
        border-radius: 16px;
        padding: 4px 20px;
        outline: none;
        margin-top: 20px;
        
    }
    .search
    {
        border-radius: 24px;
        padding: 10px 15px;
        margin:15px 30px;
        
        border: 1px;
        outline: none;
    }
    #nav_search_icon{
            position: relative;
            z-index: 1;
            left: -38px;
            top:1px;
            color: #7B7B7B;
            cursor:pointer;
            
        }
    
    .float-right li,select
    {
    float: right;
    }

    .logo img{
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }


    /* styling for index page*/
    
    .transbox {
        background-color: #ffffff;
        border: 2px solid green;
        opacity: 0.5;
        height: 60px;
        margin: 15% 0;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }
    
    .content
    {
        margin-left: 20%;
    }
    
    .top_head
    {
        margin: 5% 16% 0 ;
        width:73%;
        color:whitesmoke;
        background-color: rgb(44, 41, 41);
        border-radius:4px;
        padding:12px;
    }

    .table
    {
        margin:0% 15% 5%;
        position: relative;
        z-index: -1;
        top:-10px;border-radius:4px;
        background-color: whitesmoke;
    }

    .profile_pic
    {
        width:60px;
        height:50px;
        margin:0 10px 0 30px;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;

    }

    .navbar-custom {
    color: #FFFFFF;
    background-color: rgb(44, 41, 41);
    
    
    
    }

    .btn-col
    {
      background-color: rgb(233, 145, 62);
    }
  

    @media (min-width:768px){.hide-large{display:none!important}   }
    @media (max-width:768px){.hide-small{display:none} .content{margin:0;}  .sidenav a {font-size: 12px;} } 

